/*== header ==*/
* {margin: 0; padding: 0;}
 header {
    background-image: url('https://images.pexels.com/photos/1070534/pexels-photo-1070534.jpeg');
    background-size: cover;      
    background-position: center; 
    height: 300px;               
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  margin-left: 320px;
}
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 156px;
  text-align: center;
}

body {
    background-color: #f9f9d1;
}

/*== navigation== */
nav {
    background: #186253;
    padding: 12px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    transition: color 0.3s;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}
nav a:hover {
    color: #f1c40f;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f7a66;
  min-width: 180px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: white;
  padding: 10px 15px;
  display: block;
  margin: 0;
  transition: background 0.3s;
}
.dropdown-content a:hover {
  background-color: #145e49;
  color: #f1c40f;
}

/*== teks berjalan ==*/
.pengumuman {
  background-color: rgba(178, 34, 34, 0.932);
  height: auto;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

/*== isi bagian home ==*/
h2 {
    margin-bottom: 20px;
    border-left: 8px solid rgb(209, 100, 57); 
    text-align: left; 
    padding-left: 10px;
    color: firebrick; 
}
.chau-philomene-one-regular {
  font-family: "Chau Philomene One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
.about-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.logo {
  width: 250px;
  height: auto;
  border-radius: 10px;
}
#p1 {
    margin-top: 70px;
    max-width: 600px;
    line-height: 1.5;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.kegiatan-card {
  border: 1px solid #1d4e43;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 200px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background: #2b7a68;
  box-shadow: 0 2px 5px black;
}
.kegiatan-card:hover {
  transform: translateY(5px) ;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
.foto-kegiatan {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}
.detail-berita {
  position: relative;
  padding: 10px;
  text-decoration: none;
}
.berita-card {
  border: 1px solid #1d4e43;
  padding: 15px;
  border-radius: 8px;
  width: 800px;
  display: inline-block;
  vertical-align: top;
  background: #2b7a68;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  box-shadow: 0 2px 5px black;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* == biar sidebarnya disamping == */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 40px 80px;
  background-color: #f9f9d1;
  gap: 50px;
}

.sidebar {
  flex: 1.2;
  background-color: #205b4e;
  color: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  position: sticky;
  top: 20px; /* tetap terlihat saat di-scroll */
  height: fit-content;
  width: fit-content;
}

/* == widget == */
.widget {
  margin-bottom: 30px;
  background-color: #1d4e43;
  padding: 25px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.widget h3 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid #d8bfff;
  padding-bottom: 5px;
}

/*== footer ==*/
footer {
  background-color: #186253;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

